body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
    color: #333;
    margin: 1.5;
}

nav {
    display: flex;
    justify-content: left;
    background-color: #8ec3c6;
    padding: 5px;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav a {
    color: #120a0a;
    text-decoration: none;
    margin: 0 10px;
}

h1,h2,h3 {
    color: #333;
}

nav a:hover {
    color: #f0740f;
}

.error {
    color: red;
}

section {
    padding: 0px 0px 0px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
